.skill-box-cyber {
  background-color: rgba(255, 255, 255, 0.3); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Ensure both boxes are of the same width */
  margin: 20px;
  max-height: 450px;
}

.skill-box-cyber h2 {
  text-align: center;
  margin-bottom: 10px; /* Ensures uniform spacing below the header */
}

.skill-box-cyber ul {
  list-style: none;
  padding: 0;
}

.skill-box-cyber li {
  margin-bottom: 10px;
  align-items: center; /* Aligns the icon and text vertically */
  display: flex;
}

.skill-box-cyber svg {
  margin-right: 10px; /* Adds space between the icon and text */
  width: 20px; /* Sets a fixed width for all icons */
  height: auto; /* Maintains aspect ratio */
}

