.home-container {
    background-color: #f0f0f0; /* Grey background color */
    padding: 130px;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    color: #333;
    
    
  }
  .hello_dev
  {
    height: 250px;
    margin-left: 800px;
    margin-top:-500px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
